<h1> show article details </h1>
<p><strong>title: </strong><%= @article.title %></p> 
<p><strong>description: </strong><%= @article.description %></p>

<!-- need to use embedded ruby tags to access instance var from show() method. Also need to use "=" to evaluate and render: show the content on screen -->